/* line 1, ../scss/style.scss */
body {
  background-image: url("../img/glasses.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 8, ../scss/style.scss */
.name a {
  color: #000000;
}

/* line 12, ../scss/style.scss */
.name {
  font-family: "Droid Serif", serif;
}

/* line 15, ../scss/style.scss */
.tagline {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 4px;
  font-size: 18px;
  color: #66CD00;
  margin-bottom: -10px;
}

/* line 22, ../scss/style.scss */
.nameDiv {
  margin-top: 40px;
  clear: none;
}

/* line 27, ../scss/style.scss */
.navDiv {
  margin-top: 45px;
  float: right;
  clear: none;
}

/* line 33, ../scss/style.scss */
.navigation {
  list-style: none;
  float: right;
  display: block;
}

/* line 38, ../scss/style.scss */
.navigation li {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  padding: 20px;
  width: auto;
  -webkit-transition: background-color 1s, color .5s;
  transition: background-color 1s, color .5s;
  float: left;
  display: block;
  margin: 5px;
}

/* line 50, ../scss/style.scss */
.navigation li:hover {
  background-color: #66CD00;
  color: #FFFFFF;
}

/* line 54, ../scss/style.scss */
.navigation li:active {
  background-color: #66CD00;
  color: #FFFFFF;
}

/* line 58, ../scss/style.scss */
.content p {
  font-size: 16px;
  margin-bottom: 0px;
}

/* line 63, ../scss/style.scss */
.headshot-div {
  width: 400px;
  margin-bottom: 30px;
}

/* line 67, ../scss/style.scss */
.headshot {
  border-radius: 200px;
  moz-border-radius: 200px;
  webkit-border-radius: 200px;
}

/* line 72, ../scss/style.scss */
.contact {
  font-size: 12px !important;
  color: #666;
}

/* line 76, ../scss/style.scss */
.project {
  width: 30%;
  height: 200px;
  background-color: #777777;
}

/* line 86, ../scss/style.scss */
.project-row {
  margin-top: 50px !important;
}

/* line 92, ../scss/style.scss */
#about {
  display: none;
  height: 100%;
  margin-top: 30px;
  font-size: 12px;
}

/* line 98, ../scss/style.scss */
#portfolio {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 102, ../scss/style.scss */
#contact {
  display: none;
  margin-top: 150px;
  height: 100%;
  color: #999999;
}
